
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/contact_responsive.css">

<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Trang chủ</a></li>
                    <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Liên hệ</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <h3>Thông tin liên hệ</h3>
            <p>Tên: Ngô Văn Quang<br/>Đặng Quốc Nam<br />Phạm Hoàng Việt<br />Nguyễn Đắc Anh<br />Trần Đức Lương</p>
            <p>SDT: 0369.620.182</p>
            <p>Email: ngovanquang2601@gmail.com</p>
        </div>
        <div class="col">
            <div id="google_map">
                <div class="map_container">
                  
                    <div id="map" style="padding: 24px 18px; overflow-y: auto; ">
                        <p>Đại Lý Xanh là hệ thống siêu thị trực tuyến mang đến cho người tiêu dùng một trải nghiệm mua sắm tiện lợi và chất lượng. Tại đây, chúng tôi cung cấp đa dạng các sản phẩm từ thực phẩm tươi sống, đồ gia dụng, mỹ phẩm đến các sản phẩm thiết yếu hàng ngày, với chất lượng không thua kém gì các hệ thống siêu thị lớn như Lotte, Bách Hóa Xanh. Đến với Đại Lý Xanh, bạn không chỉ tìm thấy những mặt hàng uy tín, đảm bảo nguồn gốc xuất xứ mà còn được phục vụ với sự tận tâm và chu đáo.</p>
                        <h5>Vì sao nên chọn Đại Lý Xanh?</h5>
                        <ol style=" margin-left: 30px; ">
                            <li>Chất lượng đảm bảo: Các sản phẩm của chúng tôi được chọn lọc kỹ lưỡng, đạt tiêu chuẩn an toàn và có nguồn gốc rõ ràng.</li>
                            <li>Giá cả hợp lý: Chúng tôi luôn cam kết mang đến cho khách hàng mức giá hợp lý cùng nhiều ưu đãi hấp dẫn.</li>
                            <li>Dịch vụ nhanh chóng: Với đội ngũ giao hàng chuyên nghiệp, Đại Lý Xanh đảm bảo sản phẩm đến tay bạn nhanh nhất và trong tình trạng tốt nhất.</li>
                            <li>Tiện lợi, dễ dàng mua sắm: Website được thiết kế thân thiện, giúp bạn tìm kiếm sản phẩm nhanh chóng và dễ dàng.</li>
                        </ol>
                        <br/>
                        <p>Hãy lựa chọn Đại Lý Xanh – nơi bạn có thể hoàn toàn an tâm về chất lượng sản phẩm và tận hưởng trải nghiệm mua sắm hiện đại, tiện ích!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Us -->

    <div class="row">

    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/contact_custom.js"></script>
}